body {
  text-align: center;
  background-color: #FFF;
  font-family: sans-serif, arial;
  font-weight: bold;
}

h1 {
  color: #396;
  font-weight: bold;
  font-size: 50px;
  margin: 135px 0px 20px;
}
